@{
    ViewBag.Title = "Contact";
}
<div style="font-size:20px;">
    <h1>@ViewData["Title"]</h1>
    <p>Name: Patryk Kawecki</p>
    <p>Indeks: s172457</p>
    <a href="mailto: s172457@student.pg.edu.pl">Send Email</a>
</div>
