@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="author" content="Patryk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FilterRLC</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Index.css" />
    <script src="https://kit.fontawesome.com/1f0cf0b04d.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1> Course: Internet application development </h1>
    <h4> Project: Development of Internet application with Visual Studio ASP.NET MVC </h4>
    <h4> Subject: Passive filter composed of: resistor R1, resistor R2, magnetic coil L, and capacitor C </h4>
    <h5> The scope of the project: </h5>
    <div id="content">
        <ol>
            <li>Drawing of a block diagram </li>
            <li>Description of filter elements</li>
            <li>Editing of R1, R2, L i C values</li>
            <li>Editing of supply voltage (sinusoidal waveform) U1 and frequency f </li>
            <li>Graphical presentation of the magnitude spectrum U2/U1 at steady state </li>
            <li>Graphical presentation of the current envelope I1 versus frequency f</li>
            <li>Graphical presentation of the phase spectrum U2/U1</li>
            <li>More educational and practical aspects </li>
        </ol>
    </div>
    <p> Selected project by the lecturer for me: </p>
    <div class="container">
        <img src="~/Images/FiltrRLC.png" />
        <p> Where:</p>
        <ul>
            <li> U1 - Amplitude of Input Voltage </li>
            <li> L - Inductance </li>
            <li> R1 - Resistance 1</li>
            <li> R2 - Resistance 2</li>
            <li> C - Capacitance </li>
            <li> U1 - Amplitude of Output Voltage</li>
            <li> I1, I2, I3 - Currents </li>
        </ul>
    </div>


</body>
</html>